.notas {
  /* display: block (uno debajo de otro) | flex (uno al lado del otro o cuanto quepa creo) */
  /* border: 3px solid black bord (para bordear el bloque, así saber cuánto abarca cada cosa) */
  /* contenedor -> width */
  /* margin: eje-y eje x auto (para centrar)*/
  /* padding: margen interno */
  /* float: literalmente flota */
}

.header {
  padding: 125px;
  color: rgb(252, 252, 252);
  background-color: rgba(255, 255, 255, 0.042);
}

.nav {
  background-color: #1a1e3067;
  color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.app {
  display: block;
  background-color: #0505052f;
  border-radius: 2%;
  height: 100%;
  margin: 15px auto;
  padding: 5px;
}

.workspace {
  /*background-color: #c7d6e80e;*/
  border-radius: 2%;
  padding: 15px 15px;
  margin: 0 auto;
  display: block;
}

.side-menu {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 2%;
  width: 20%;
  height: 400px;
  margin-top: 40px;
  margin-left: 30px;
  float: inline-start;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-side-menu {
  /*text-align: center;*/
}

.file-selector {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.savebutton {
  margin-left: auto;
  margin-right: auto;
}

.contenedor-contenido {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-flex;
  overflow: auto;
}

.imagen {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.menubar {
  background-color: rgba(0, 0, 0, 0.316);
  padding-top: 7px;
  display: inline-flex;
  justify-content: left;
  overflow: auto;
}
.menubar ::-webkit-scrollbar {
  background: #ccc;
  display: none;
}

.filter-button {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-right: 10px;
}
.menubar img:hover {
  cursor: pointer;
}

.nav .nav-container input,
button {
  color: black;
  /*padding: 10px;*/
}

#foto {
  padding-top: 5px;
  /*color: transparent;*/
  color: rgb(141, 141, 141);
}

.second-container {
  background-image: url("../assets/images/fondo.jpg");
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 125px;
  margin-bottom: 35px;
  margin-top: 25px;
}

.slider {
  cursor: pointer;
  margin-bottom: 30px;
}
